MIXPANEL_KEY_TEST=YOUR_MIXPANEL_API_SECRET_DEV
MIXPANEL_KEY_PROD=YOUR_MIXPANEL_API_SECRET_PROD

ELLA_URL_TEST=https://api-staging.helloella.co/api/v1/content
ELLA_URL_PROD=https://api.helloella.co/api/v1/content

ELLA_KEY_TEST=YOUR_ELLA_BEARER_TOKEN
ELLA_KEY_PROD=YOUR_ELLA_BEARER_TOKEN
