MIXPANEL_KEY_TEST=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
MIXPANEL_KEY_PROD=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

ELLA_KEY_TEST=xxxx_xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx:xxxxx
ELLA_KEY_PROD=xxxx_xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx:xxxxx

ELLA_URL_TEST=https://api-staging.helloella.co/api/v1/content
ELLA_URL_PROD=https://api.helloella.co/api/v1/content

# for reverse proxy
#PROXY_PATH=analytics
